@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans_10pt-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans_10pt-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans_10pt-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SourceSans3";
  src: url("../fonts/SourceSans3-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SourceSans3";
  src: url("../fonts/SourceSans3-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SourceSans3";
  src: url("../fonts/SourceSans3-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

html,
body {
  font-size: 20px;
  background-color: #f5f5f5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: "SourceSans3", sans-serif sans-serif;
}

ul:not(.rich-container) {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section-offset {
  padding-top: 80px;
  padding-bottom: 50px;
}

.pt-5-c {
  padding-top: 50px;
}

.pb-12 {
  padding-bottom: 120px;
}

.sub-title-offset {
  margin-bottom: 70px;
}

.h1,
.h2,
.h3,
.h4 {
  font-family: "NunitoSans", sans-serif, Arial;
  font-weight: 600;
  line-height: 1.3em;
  color: #3f3f3f;
}

.h1 {
  font-size: 56px;
}

.h2 {
  font-size: 48px;
}

.h2-sub {
  font-size: 36px;
  color: #3f3f3f;
}

.h3 {
  font-weight: 400;
  font-size: 21px;
  text-transform: uppercase;
}

.rich-container,
.desc {
  font-weight: 400;
  font-size: 20px;
  font-family: "SourceSans3", sans-serif;
  line-height: 1.4em;
  color: #0a0a0a;
}
.rich-container a,
.desc a {
  color: #ce2026;
  transition: 0.2s ease;
}
.rich-container a:hover,
.desc a:hover {
  color: #fc4046;
}
.rich-container ul li,
.desc ul li {
  list-style: disc;
}
.rich-container ol,
.rich-container ul,
.desc ol,
.desc ul {
  margin-bottom: 0;
  padding-left: 1rem;
}
.rich-container li + br,
.desc li + br {
  display: none;
}

.btn {
  padding: 10px 30px;
  font-weight: 600;
  font-family: "SourceSans3", sans-serif, Arial;
  font-size: 24px;
  line-height: 1.5em;
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
}

.btn-light {
  background-color: transparent;
  border: 1px solid #fff;
}

.btn-light:hover {
  background-color: #fc4046;
  border-color: #fc4046;
  color: #fff;
}

.btn.btn-light:active {
  background-color: #ce2026;
  border-color: #ce2026;
  color: #fff;
}

.btn-danger {
  font-weight: 500;
  background-color: #ce2026;
}

.btn-danger:hover {
  background-color: #fc4046;
  border-color: #fc4046;
}

.form-floating label {
  color: #a5a5a5;
}

textarea {
  resize: none;
}

.logo {
  max-width: 165px;
  max-height: 66px;
}

.split-section .rich-container {
  max-width: 550px;
}

.video-hero {
  margin-bottom: 80px;
}

.carbon-sections section:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.burger {
  display: none;
}

.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.animated-icon span {
  background: #3f3f3f;
}

.animated-icon span:nth-child(1) {
  top: 0px;
}

.animated-icon span:nth-child(2) {
  top: 10px;
}

.animated-icon span:nth-child(3) {
  top: 20px;
}

.animated-icon.open span:nth-child(1) {
  top: 11px;
  transform: rotate(135deg);
}

.animated-icon.open span:nth-child(2) {
  opacity: 0;
}

.animated-icon.open span:nth-child(3) {
  top: 11px;
  transform: rotate(-135deg);
}

.header {
  padding: 17px 0;
  align-items: center;
  background-color: #f5f5f5;
  position: relative;
  z-index: 100;
}
.header__container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__btn_mob {
  display: none;
}
.header .btn {
  padding: 5px 10px;
  font-size: 16px;
}

.header__sticky {
  padding: 10px 0;
  height: auto;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}
.nav__list li {
  font-size: 16px;
  color: #3f3f3f;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.nav__list li:hover {
  color: #fc4046;
}
.nav__list li:active {
  color: #ce2026;
}
.nav__list a {
  padding: 0.5em 0;
  display: inline-block;
}
.nav__list .sub-menu {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
  position: absolute;
  padding: 0.2rem 0;
  background-color: #fff;
  border-radius: 10px;
}
.nav__list .sub-menu a {
  padding: 0.2rem 0.8rem;
}
.nav__list .sub-menu:hover {
  visibility: visible;
  opacity: 1;
}
.nav__list a:hover + .sub-menu {
  visibility: visible;
  opacity: 1;
}

.hero {
  position: relative;
  min-height: 100vh;
  width: 100%;
}
.hero__h1 {
  margin-bottom: 40px;
  color: #fff;
}
.hero__container {
  height: 100vh;
}
.hero__container .row div {
  z-index: 2;
}
.hero__video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1;
}

.main-blog__sub-title {
  font-size: 24px;
  font-weight: 300;
  text-transform: capitalize;
}

.carbon-button.reduce-offset {
  margin-top: -80px;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}

.card {
  background-color: transparent;
  border: none;
}
.card__img {
  margin-bottom: 40px;
  padding-top: 60%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.card__img img {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  -o-object-fit: cover;
  object-fit: cover;
}
.card__img_bt {
  margin-bottom: 15px;
}
.card__img_art {
  margin-bottom: 50px;
}
.card__sub {
  margin-top: 50px;
  margin-bottom: 30px;
}
.card__btn {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
}
.card__desc {
  margin-bottom: 20px;
}
.card__desc_auth {
  font-size: 18px;
  color: #a5a5a5;
}
.card__desc_auth-article {
  margin-bottom: 50px;
}

.blog-article .h2 {
  margin-bottom: 20px;
}

.article {
  max-width: 800px;
}

.blog .h2 {
  margin-bottom: 70px;
}
.blog .blog-grid {
  margin-bottom: 70px;
}

.main-experience__desc {
  max-width: 800px;
  font-size: 24px;
  text-align: center;
}

.media-flex__img-wrap {
  padding-top: 45%;
  position: relative;
}
.media-flex__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.media-flex__img_bottom {
  -o-object-position: bottom;
  object-position: bottom;
}
.media-flex__text {
  max-width: 380px;
}
.media-flex .row .desc:last-child {
  margin-bottom: 0;
}
.media-flex__btn-bot {
  margin-top: 70px;
}

.main-talk__desc {
  max-width: 800px;
  font-size: 24px;
  text-align: center;
}
.main-talk__img {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.image-desc {
  padding-top: 50px;
}
.image-desc .h2 {
  margin-bottom: 70px;
}
.image-desc__content {
  max-width: 550px;
}
.image-desc .desc:last-child {
  margin-bottom: 0;
}
.image-desc img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.certificate-card__list {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(5, 1fr);
}
.certificate-card__item {
  padding: 30px;
  max-height: 250px;
  background: #fff;
  border-radius: 10px;
}
.certificate-card__title {
  height: 20%;
  font-weight: 400;
  font-size: 16px;
  color: #3f3f3f;
}
.certificate-card__img-wrap {
  padding-bottom: 20px;
  height: 80%;
}

.services {
  padding-top: 50px;
}
.services .h2 {
  margin-bottom: 70px;
}

.grid-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 80px;
  grid-row-gap: 70px;
}
.grid-page .desc {
  margin-bottom: 0;
}
.grid-page__image {
  margin-bottom: 40px;
  padding-top: 57%;
  position: relative;
}
.grid-page__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

.inner-section .sub-title-offset {
  margin-bottom: 40px;
}
.inner-section .schedule-table {
  margin-bottom: 30px;
}
.inner-section .carbon-button {
  margin-bottom: 30px;
}
.inner-section .carbon-features-list {
  margin-bottom: 30px;
}
.inner-section .carbon-image {
  margin-bottom: 60px;
}
.inner-section .carbon-images {
  margin-bottom: 30px;
}
.inner-section .carbon-logos {
  margin-bottom: 30px;
}
.inner-section .carbon-partners {
  margin-bottom: 30px;
}
.inner-section .carbon-text {
  margin-bottom: 30px;
}
.inner-section .single-video {
  margin-bottom: 30px;
}
.inner-section div:last-child {
  margin-bottom: 0;
}

.jumpseat .h2 {
  margin-bottom: 70px;
}

.schedule .h2-sub {
  margin-bottom: 40px;
}
.schedule .desc:first-child {
  margin-bottom: 5px;
}
.schedule__jets {
  color: #ce2026;
}

.schedule-table {
  margin-bottom: 15px;
  max-width: 500px;
}
.schedule-table td,
.schedule-table th {
  padding-bottom: 15px;
  background-color: transparent;
}
.schedule-table th {
  color: #3f3f3f;
  vertical-align: text-top;
}
.schedule-table tr {
  border-color: #a5a5a5;
}
.schedule-table tr:last-child td {
  border-bottom: none;
}

.fleet .h2 {
  margin-bottom: 70px;
}

.executive-fleet .h2 {
  margin-bottom: 70px;
}

.features-list__list {
  gap: 80px;
  flex-wrap: wrap;
}
.features-list__list li {
  width: 150px;
  height: auto;
  text-align: center;
}
.features-list__list li img {
  margin-bottom: 26px;
  max-width: 40px;
  max-height: 40px;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion__item {
  border-radius: 15px;
  border-radius: 15px !important;
  overflow: hidden;
}
.accordion__item:not(:last-child) {
  margin-bottom: 15px;
}
.accordion__title {
  font-size: 16px;
  color: #3f3f3f;
  font-family: "NunitoSans", Arial;
  line-height: 1.3em;
}
.accordion__button {
  margin-bottom: 0;
  padding: 28px 30px;
  border-radius: 0 !important;
}
.accordion__button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
}
.accordion__body {
  padding-top: 25px;
  padding-bottom: 70px;
}
.accordion__big-img {
  margin-bottom: 70px;
}

.single-video {
  padding-right: 80px;
  padding-left: 80px;
}
.single-video__video-wrap video {
  max-height: 1140px;
  border-radius: 10px;
  max-width: 100%;
}

.grid-images {
  padding-right: 80px;
  padding-left: 80px;
}
.grid-images__list-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 21px;
  flex-wrap: wrap;
}
.grid-images__img-wrap {
  padding-top: 70%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.grid-images__img-wrap img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.accordion-button::after {
  width: 14px;
  height: 14px;
  background-image: url("../img/accordion-arrow.svg");
  background-size: 14px 14px;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../img/accordion-arrow.svg");
}

.accordion-button:not(.collapsed) {
  color: #3f3f3f;
}

.pop-img {
  padding: 15px;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  transition: visibility 0.3s ease-in-out;
  visibility: hidden;
}
.pop-img__close {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 40px;
  height: 40px;
  z-index: 10;
  cursor: pointer;
}
.pop-img__wrap {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1000px;
}
.pop-img__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.pop-img_active {
  visibility: visible;
}

.cargo-fleet .h2 {
  margin-bottom: 50px;
}

.metro-3 .h2-sub {
  margin-bottom: 30px;
}
.metro-3 .desc:last-child {
  margin-bottom: 0;
}
.metro-3__sub-title {
  margin-bottom: 70px;
  font-size: 24px;
}
.metro-3__in-sub {
  display: block;
}

.block-img__img-wrap {
  border-radius: 10px;
  overflow: hidden;
}
.block-img__img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.contacts .h2 {
  margin-bottom: 70px;
}

.con-info {
  max-width: 550px;
}
.con-info .h3 {
  margin-bottom: 20px;
}
.con-info__item {
  margin-bottom: 20px;
}
.con-info__item h4 {
  font-weight: 600;
  font-size: 20px;
}
.con-info__bottom {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.con-info__wrap_top {
  margin-bottom: 50px;
}

.small-form__contacts .textarea {
  height: 180px;
}
.small-form .textarea {
  height: 100px;
  max-height: 100% !important;
}

.employees .h2 {
  margin-bottom: 70px;
}
.employees .btn {
  max-width: 256px;
}
.employees__img {
  position: relative;
  padding-top: 68%;
  border-radius: 10px;
  overflow: hidden;
}
.employees__img img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.employees__desc {
  margin-bottom: 30px;
}

.giving-back .schedule-table {
  margin-bottom: 0;
}
.giving-back .h2 {
  margin-bottom: 70px;
}

.giv-back-top__text .desc:last-child {
  margin-bottom: 0;
}

.partners .h3 {
  font-size: 16px;
}
.partners__icons, .partners__list {
  height: 100%;
}
.partners .h3 {
  margin-bottom: 20px;
}
.partners__icon {
  margin-bottom: 30px;
}
.partners__icon img {
  height: 130px;
  -o-object-fit: contain;
  object-fit: contain;
}
.partners .btn {
  padding: 5px 10px;
  font-size: 16px;
}

.careers .h2 {
  margin-bottom: 30px;
}
.careers .h2-sub {
  margin-bottom: 15px;
}
.careers__bot-title {
  margin-bottom: 70px;
  font-size: 24px;
  font-family: "SourceSans3", sans-serif;
}
.careers .h4 {
  font-size: 16px;
}
.careers .grid-page__image {
  margin-bottom: 30px;
}
.careers .grid-page {
  margin-bottom: 50px;
}
.careers .grid-page__content .h3 {
  margin-bottom: 0;
}
.careers__btn {
  max-width: 195px;
}

.request-quote .h2 {
  margin-bottom: 70px;
}

.quote-form {
  max-width: 650px;
}
.quote-form .desc {
  margin-bottom: 5px;
  font-size: 18px;
  color: #3f3f3f;
}
.quote-form input {
  border-radius: 5px;
  border: 1px solid #eee;
}
.quote-form__wrap {
  margin-top: 0;
  margin-bottom: 15px;
}
.quote-form__wrap_area {
  margin-bottom: 30px;
}
.quote-form__wrap_area textarea {
  max-height: 140px;
}
.quote-form .form-check-label {
  display: inline;
}

.form-check-inline {
  margin-right: 30px;
}

.form-check .form-check-input {
  float: none;
}

.form-check-input {
  margin-top: 0;
  vertical-align: middle;
}

.custom-radio {
  font-size: 16px;
}

input[type=radio] {
  accent-color: #232323;
}

.wpcf7-not-valid-tip {
  font-size: 16px;
}

.footer {
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: #0a0a0a;
  color: #eee;
  font-size: 18px;
}
.footer__container {
  margin-bottom: 80px;
}

.address {
  margin-bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 100px;
}
.address__item:first-child {
  margin-bottom: 15px;
}

.all-rights {
  padding: 0 20px;
  color: #a5a5a5;
}

@media (max-width: 1400px) {
  .footer__container {
    max-width: 1300px;
  }
  .address {
    gap: 80px;
  }
}
@media (max-width: 1290px) {
  .logo {
    max-width: 100px;
    height: 40px;
  }
  .nav__list {
    gap: 20px;
  }
  .nav li {
    font-size: 15px;
  }
  .header .btn {
    font-size: 15px;
  }
  .grid-page {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-images__list-img {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1068px) {
  .footet-logo {
    margin-bottom: 60px;
  }
  .footer {
    padding-top: 60px;
  }
  .footer__container {
    margin-bottom: 60px;
    flex-direction: column;
    align-items: center;
  }
  .address {
    gap: 50px;
  }
}
@media (max-width: 992px) {
  .pt-5-c {
    padding-top: 40px;
  }
  .pb-12 {
    padding-bottom: 80px;
  }
  .logo {
    margin-right: auto;
    z-index: 101;
  }
  .burger {
    margin-right: 15px;
    z-index: 101;
  }
  .video-hero {
    margin-bottom: 40px;
  }
  .header {
    padding: 12px 0;
  }
  .header__btn {
    display: none;
  }
  .header__btn_mob {
    display: block;
  }
  .header__container {
    padding-right: 60px;
    padding-left: 60px;
  }
  .nav {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    z-index: 100;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translatex(-1000px);
    background: #f5f5f5;
    opacity: 0;
  }
  .nav__list {
    margin-bottom: 30px;
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }
  .nav__list li {
    font-size: 21px;
  }
  .nav_open {
    transform: translateY(0);
    opacity: 1;
  }
  .burger {
    display: block;
  }
  .section-offset {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .sub-title-offset {
    margin-bottom: 50px;
  }
  .blog-grid {
    grid-template-columns: auto;
    gap: 60px;
  }
  .blog-grid__content p:not(.blog-grid__desc) {
    margin-bottom: 0;
  }
  .blog-grid__desc_auth-article {
    margin-bottom: 30px;
  }
  .blog-grid__img_bt {
    margin-bottom: 30px;
  }
  .blog-grid__sub {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .main-experience .row:last-child {
    margin-bottom: 0;
  }
  .media-flex .row {
    flex-direction: column;
  }
  .media-flex .desc {
    margin-bottom: 30px;
  }
  .media-flex__text {
    max-width: 100%;
  }
  .media-flex .btn {
    margin: 0 auto;
  }
  .media-flex__row_lear > div:first-child {
    margin-bottom: 50px;
  }
  .media-flex__btn-bot {
    margin-top: 50px;
  }
  .fleet {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .fleet .h2 {
    margin-bottom: 50px;
  }
  .fleet .mb-sm-4 {
    margin-bottom: 40px !important;
  }
  .fleet .sub-title-offset {
    margin-bottom: 60px;
  }
  .image-desc {
    padding-bottom: 20px;
  }
  .image-desc .h2 {
    margin-bottom: 50px;
  }
  .image-desc__img {
    margin-bottom: 40px;
  }
  .image-desc__content {
    max-width: 100%;
  }
  .image-desc__container .row {
    flex-direction: column-reverse;
  }
  .certificate-card__list {
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
  }
  .certificate-card__item {
    max-width: 200px;
  }
  .services {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .services .h2 {
    margin-bottom: 50px;
  }
  .grid-page {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 60px;
  }
  .schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .schedule-table {
    margin: 0 auto 40px;
  }
  .svg-map {
    padding-bottom: 50px;
  }
  .features-list__list {
    gap: 60px;
  }
  .single-video {
    padding-right: 30px;
    padding-left: 30px;
  }
  .grid-images {
    padding-right: 30px;
    padding-left: 30px;
  }
  .grid-images__list-img {
    grid-template-columns: repeat(3, 1fr);
  }
  .metro-3 .desc:first-child {
    margin-bottom: 15px;
  }
  .metro-3__row.row {
    margin-bottom: 40px;
    flex-direction: column-reverse;
  }
  .metro-3__sub-title.desc {
    margin-bottom: 50px;
  }
  .contacts .container {
    max-width: 760px;
  }
  .contacts .h2 {
    margin-bottom: 50px;
  }
  .contacts .row > div:not(:last-child) {
    margin-bottom: 60px;
  }
  .con-info {
    max-width: 100%;
  }
  .con-info__bottom {
    flex-wrap: nowrap;
  }
  .con-info__item .d-block {
    font-size: 19px;
  }
  .employees .h2 {
    margin-bottom: 50px;
  }
  .employees__img-col {
    margin-bottom: 40px;
  }
  .employees .btn {
    margin: 0 auto;
  }
  .giving-back .h2 {
    margin-bottom: 50px;
  }
  .partners__icons {
    margin: 0 auto;
    max-width: 500px;
  }
  .giv-back-top > div:not(:last-child) {
    margin-bottom: 50px;
  }
  .careers__bot-title {
    margin-bottom: 60px;
  }
  .careers .grid-page {
    margin-bottom: 30px;
  }
  .careers-icons {
    margin-bottom: 60px;
  }
  .careers-icons__list {
    flex-wrap: wrap;
  }
  .request-quote .h2 {
    margin-bottom: 60px;
  }
  .blog .h2,
  .blog .blog-grid {
    margin-bottom: 50px;
  }
}
@media (max-width: 712px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer__container {
    margin-bottom: 40px;
  }
  .address {
    grid-template-columns: auto;
    text-align: center;
  }
  .address__item:first-child {
    margin-bottom: 12px;
    font-size: 16px;
  }
  .all-rights {
    font-size: 14px;
  }
  .con-info .text-sm-center {
    text-align: center !important;
  }
  .con-info__bottom {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  .con-info__wrap_top {
    margin-bottom: 30px;
  }
  .con-info__wrap_top div {
    width: 100%;
  }
  .con-info__item {
    margin-bottom: 0;
    width: 260px;
  }
  .contacts .row > div:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .pt-5-c {
    padding-top: 30px;
  }
  .pb-12 {
    padding-bottom: 40px;
  }
  .video-hero {
    margin-bottom: 30px;
  }
  .wpcf7-not-valid-tip {
    font-size: 14px;
  }
  .custom-radio {
    font-size: 14px;
  }
  .header__container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .nav__list {
    gap: 20px;
    text-align: center;
  }
  .nav__list li {
    font-size: 16px;
  }
  .nav .sub-menu {
    position: relative;
    visibility: visible;
    opacity: 1;
    display: none;
    background-color: transparent;
  }
  .nav .sub-menu:hover {
    display: block;
  }
  .nav a:hover + .sub-menu {
    display: block;
  }
  .mb-mob-2 {
    margin-bottom: 1rem;
  }
  .mb-mob-1 {
    margin-bottom: 0.5rem !important;
  }
  .h1 {
    font-size: 32px;
  }
  .h2 {
    font-size: 28px;
  }
  .h3 {
    font-size: 17px;
  }
  .btn {
    font-size: 16px;
    padding: 6px 20px;
  }
  .desc {
    font-size: 17px;
  }
  .mob-hidden {
    display: none;
  }
  .section-offset {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .sub-title-offset {
    margin-bottom: 30px;
  }
  .main-blog__sub-title {
    font-size: 17px;
  }
  .main-blog .sub-title-offset {
    margin-bottom: 40px;
  }
  .blog-grid {
    gap: 40px;
  }
  .blog-grid__img {
    padding-top: 55%;
    margin-bottom: 20px;
  }
  .blog-grid__img_bt {
    margin-bottom: 10px;
  }
  .blog-grid__desc {
    margin-bottom: 15px;
  }
  .blog-grid__desc_auth {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .blog-grid__btn {
    font-size: 14px;
  }
  .blog-grid__sub {
    margin-top: 20px;
    font-size: 24px;
  }
  .blog-article .h2 {
    margin-bottom: 15px;
  }
  .card__img {
    margin-bottom: 20px;
  }
  .main-experience__desc {
    font-size: 19px;
  }
  .media-flex__img-wrap {
    padding-top: 60%;
  }
  .media-flex .sub-title-offset {
    margin-bottom: 40px;
  }
  .media-flex__row_lear > div:first-child {
    margin-bottom: 30px;
  }
  .media-flex .h2-sub {
    font-size: 24px;
  }
  .media-flex .h2-sub.mb-mob-1 {
    margin-bottom: 10px;
  }
  .media-flex__btn-bot {
    margin-top: 30px;
  }
  .main-talk__desc {
    font-size: 19px;
  }
  .form-floating > .form-control {
    padding: 10px;
    max-height: 42px;
    font-size: 16px;
  }
  .text-sm-center {
    text-align: center;
  }
  .fleet {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .fleet .h2 {
    margin-bottom: 30px;
  }
  .fleet .h2-sub {
    margin-bottom: 15px;
    font-size: 24px;
  }
  .fleet .mb-sm-4 {
    margin-bottom: 30px !important;
  }
  .fleet .sub-title-offset {
    margin-bottom: 50px;
  }
  .image-desc {
    padding-bottom: 10px;
  }
  .image-desc .h2 {
    margin-bottom: 30px;
  }
  .certificate {
    padding-bottom: 60px;
  }
  .certificate .h2-sub {
    font-size: 24px;
  }
  .certificate-card__list {
    padding-right: 20px;
    padding-left: 20px;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .certificate-card__item {
    padding-right: 60px;
    padding-left: 60px;
    max-width: 100%;
    height: 250px;
  }
  .services {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .services .h2 {
    margin-bottom: 30px;
  }
  .grid-page {
    grid-row-gap: 40px;
  }
  .grid-page__image {
    margin-bottom: 20px;
  }
  .jumpseat {
    padding-top: 30px;
  }
  .jumpseat .h2 {
    margin-bottom: 30px;
  }
  .schedule .h2-sub {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .schedule .btn {
    margin-bottom: 25px !important;
  }
  .schedule-table {
    margin-bottom: 20px;
  }
  .schedule-table .h3 {
    font-size: 18px;
  }
  .svg-map {
    padding-bottom: 40px;
  }
  .executive-fleet .h2 {
    margin-bottom: 30px;
  }
  .features-list__list li {
    width: 100px;
  }
  .accordion__body {
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .accordion__button {
    padding: 15px;
    font-size: 18px;
  }
  .accordion__title {
    font-size: 14px;
  }
  .accordion .flex-sm-wrap {
    flex-wrap: wrap;
  }
  .single-video {
    padding-right: 15px;
    padding-left: 15px;
  }
  .grid-images {
    padding-right: 15px;
    padding-left: 15px;
  }
  .grid-images__list-img {
    grid-template-columns: repeat(2, 1fr);
  }
  .cargo-fleet .h2 {
    margin-bottom: 30px;
  }
  .cargo-fleet .h2-sub {
    margin-bottom: 15px;
  }
  .metro-3__sub-title {
    font-size: 19px;
  }
  .metro-3__sub-title.desc {
    margin-bottom: 30px;
  }
  .metro-3 .mb-mob-2 {
    margin-bottom: 30px;
  }
  .metro-3__row.row {
    margin-bottom: 30px;
  }
  .contacts .h2 {
    margin-bottom: 30px;
  }
  .con-info .h3 {
    font-size: 18px;
  }
  .con-info__item .d-block {
    font-size: 17px;
  }
  .small-form__contacts .textarea {
    max-height: 100%;
  }
  .employees .h2 {
    margin-bottom: 30px;
  }
  .employees__img-col {
    margin-bottom: 30px;
  }
  .giving-back .h2 {
    margin-bottom: 30px;
  }
  .partners .h3 {
    font-size: 14px;
  }
  .partners .btn {
    font-size: 14px;
  }
  .partners ul {
    flex-direction: column;
    row-gap: 60px;
  }
  .careers .h2-sub {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .careers .h3 {
    margin-bottom: 30px;
  }
  .careers .h4 {
    font-size: 14px;
  }
  .careers__btn {
    max-width: 130px;
  }
  .careers .grid-page {
    grid-row-gap: 30px;
  }
  .careers .grid-page__image {
    margin-bottom: 20px;
  }
  .request-quote .h2 {
    margin-bottom: 30px;
  }
  .quote-form .desc {
    font-size: 14px;
  }
  .quote-form .form-check-inline {
    margin-right: 10px;
  }
  .quote-form__wrap {
    margin-bottom: 10px;
  }
  .quote-form__wrap_area {
    margin-bottom: 30px;
  }
  .quote-form input {
    font-size: 14px;
  }
  .blog .h2 {
    margin-bottom: 30px;
  }
  .blog .blog-grid {
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=style.css.map */
