@media(max-width: 1400px) {
  .footer {
    &__container {
      max-width: 1300px;
    }
  }

  .address {
    gap: 80px;
  }
}

@media(max-width: 1290px) {

  .logo {
    max-width: 100px;
    height: 40px;
  }

  .nav {
    &__list {
      gap: 20px;
    }

    li {
      font-size: 15px;
    }
  }

  .header {
    .btn {
      font-size: 15px;
    }
  }

  // Services
  .grid-page {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-images {
    &__list-img {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media(max-width: 1068px) {
  .footet-logo {
    margin-bottom: 60px;
  }

  .footer {
    padding-top: 60px;

    &__container {
      margin-bottom: 60px;
      flex-direction: column;
      align-items: center;
    }
  }

  .address {
    gap: 50px;
  }

}

@media(max-width: 992px) {
  .pt-5-c {
    padding-top: 40px;
  }

  .pb-12 {
    padding-bottom: 80px;
  }

  .logo {
    margin-right: auto;
    z-index: 101;
  }

  .burger {
    margin-right: 15px;
    z-index: 101;
  }

  .video-hero {
    margin-bottom: 40px;
  }

  .header {
    padding: 12px 0;

    &__btn {
      display: none;
    }

    &__btn_mob {
      display: block;
    }

    &__container {
      padding-right: 60px;
      padding-left: 60px;
    }
  }

  .nav {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    z-index: 100;
    transition: transform .5s ease-in-out, opacity .5s ease-in-out;
    transform: translatex(-1000px);
    background: $custom-white;
    opacity: 0;

    &__list {
      margin-bottom: 30px;
      flex-direction: column;
      width: 100%;
      gap: 30px;

      li {
        font-size: 21px;
      }
    }

  }

  .nav_open {
    transform: translateY(0);
    opacity: 1;
  }

  .burger {
    display: block;
  }

  // main
  .section-offset {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .sub-title-offset {
    margin-bottom: 50px;
  }

  .blog-grid {
    grid-template-columns: auto;
    gap: 60px;

    &__content p:not(.blog-grid__desc) {
      margin-bottom: 0;
    }

    &__desc_auth-article {
      margin-bottom: 30px;
    }

    &__img_bt {
      margin-bottom: 30px;
    }

    &__sub {
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }

  .main-experience {
    .row {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .media-flex {
    .row {
      flex-direction: column;
    }

    .desc {
      margin-bottom: 30px;
    }

    &__text {
      max-width: 100%;
    }

    .btn {
      margin: 0 auto;
    }

    &__row_lear>div:first-child {
      margin-bottom: 50px;
    }

    &__btn-bot {
      margin-top: 50px;
    }
  }

  // Fleet
  .fleet {
    padding-top: 40px;
    padding-bottom: 80px;

    .h2 {
      margin-bottom: 50px;
    }

    .mb-sm-4 {
      margin-bottom: 40px !important;
    }

    .sub-title-offset {
      margin-bottom: 60px;
    }
  }

  // About us
  .image-desc {
    padding-bottom: 20px;

    .h2 {
      margin-bottom: 50px;
    }

    &__img {
      margin-bottom: 40px;
    }

    &__content {
      max-width: 100%;
    }

    &__container {
      .row {
        flex-direction: column-reverse;
      }
    }
  }

  .certificate-card {
    &__list {
      grid-template-rows: auto;
      grid-template-columns: auto auto auto;
    }

    &__item {
      max-width: 200px;
    }
  }

  // Services
  .services {
    padding-top: 40px;
    padding-bottom: 80px;

    .h2 {
      margin-bottom: 50px;
    }
  }

  .grid-page {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 60px;
  }

  // Jumpseat
  .schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .schedule-table {
    margin: 0 auto 40px;
  }

  .svg-map {
    padding-bottom: 50px;
  }

  // Executive Fleet
  .features-list {
    &__list {
      gap: 60px;
    }
  }

  .single-video {
    padding-right: 30px;
    padding-left: 30px;
  }

  .grid-images {
    padding-right: 30px;
    padding-left: 30px;

    &__list-img {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  // Cargo Fleet
  .metro-3 {
    .desc:first-child {
      margin-bottom: 15px;
    }

    &__row.row {
      margin-bottom: 40px;
      flex-direction: column-reverse;
    }

    &__sub-title.desc {
      margin-bottom: 50px;
    }
  }

  // Contact
  .contacts {
    .container {
      max-width: 760px;
    }

    .h2 {
      margin-bottom: 50px;
    }

    .row>div:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  .con-info {
    max-width: 100%;

    &__bottom {
      flex-wrap: nowrap;
    }

    &__item {
      .d-block {
        font-size: 19px;
      }
    }
  }

  // Employees
  .employees {
    .h2 {
      margin-bottom: 50px;
    }

    &__img-col {
      margin-bottom: 40px;
    }

    .btn {
      margin: 0 auto;
    }
  }

  // Giving Back
  .giving-back {
    .h2 {
      margin-bottom: 50px;
    }
  }

  .partners {
    &__icons {
      margin: 0 auto;
      max-width: 500px;
    }
  }

  .giv-back-top>div:not(:last-child) {
    margin-bottom: 50px;
  }

  // Careers 
  .careers {
    &__bot-title {
      margin-bottom: 60px;
    }

    .grid-page {
      margin-bottom: 30px;
    }
  }

  .careers-icons {
    margin-bottom: 60px;

    &__list {
      flex-wrap: wrap;
    }
  }

  // Request a Quote
  .request-quote {
    .h2 {
      margin-bottom: 60px;
    }
  }

  // Blog
  .blog {

    .h2,
    .blog-grid {
      margin-bottom: 50px;
    }

  }

}

@media (max-width: 712px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;

    &__container {
      margin-bottom: 40px;
    }
  }

  .address {
    grid-template-columns: auto;
    text-align: center;

    &__item:first-child {
      margin-bottom: 12px;
      font-size: 16px;
    }
  }

  .all-rights {
    font-size: 14px;
  }

  // Contacts
  .con-info {

    .text-sm-center {
      text-align: center !important;
    }

    &__bottom {
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
    }

    &__wrap_top {
      margin-bottom: 30px;

      div {
        width: 100%;
      }
    }

    &__item {
      margin-bottom: 0;
      width: 260px;
    }
  }

  .contacts {
    .row>div:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 576px) {

  .pt-5-c {
    padding-top: 30px;
  }

  .pb-12 {
    padding-bottom: 40px;
  }

  .video-hero {
    margin-bottom: 30px;
  }

  .wpcf7-not-valid-tip {
    font-size: 14px;
  }

  .custom-radio {
    font-size: 14px;
  }

  .header {
    &__container {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  .nav {

    &__list {
      gap: 20px;

      li {
        font-size: 16px;
      }

      text-align: center;
    }

    .sub-menu {
      position: relative;
      visibility: visible;
      opacity: 1;
      display: none;
      background-color: transparent;

      &:hover {
        display: block;
      }
    }

    a:hover+.sub-menu {
      display: block;
    }
  }

  .mb-mob-2 {
    margin-bottom: 1rem;
  }

  .mb-mob-1 {
    margin-bottom: 0.5rem !important;
  }

  .h1 {
    font-size: 32px;
  }

  .h2 {
    font-size: 28px;
  }

  .h3 {
    font-size: 17px;
  }

  .btn {
    font-size: 16px;
    padding: 6px 20px;
  }

  .desc {
    font-size: 17px;
  }

  .mob-hidden {
    display: none;
  }

  .section-offset {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .sub-title-offset {
    margin-bottom: 30px;
  }

  .main-blog {
    &__sub-title {
      font-size: 17px;
    }

    .sub-title-offset {
      margin-bottom: 40px;
    }
  }

  .blog-grid {
    gap: 40px;

    &__img {
      padding-top: 55%;
      margin-bottom: 20px;
    }

    &__img_bt {
      margin-bottom: 10px;
    }

    &__desc {
      margin-bottom: 15px;
    }

    &__desc_auth {
      margin-bottom: 10px;
      font-size: 14px;
    }

    &__btn {
      font-size: 14px;
    }

    &__sub {
      margin-top: 20px;
      font-size: 24px;
    }
  }

  .blog-article {
    .h2 {
      margin-bottom: 15px;
    }
  }

  .card {
    &__img {
      margin-bottom: 20px;
    }
  }

  .main-experience {
    &__desc {
      font-size: 19px;
    }
  }

  .media-flex {
    &__img-wrap {
      padding-top: 60%;
    }

    .sub-title-offset {
      margin-bottom: 40px;
    }

    &__row_lear>div:first-child {
      margin-bottom: 30px;
    }

    .h2-sub {
      font-size: 24px;
    }

    .h2-sub.mb-mob-1 {
      margin-bottom: 10px;
    }

    &__btn-bot {
      margin-top: 30px;
    }
  }

  .main-talk {
    &__desc {
      font-size: 19px;
    }
  }

  .form-floating>.form-control {
    padding: 10px;
    max-height: 42px;
    font-size: 16px;
  }

  .text-sm-center {
    text-align: center;
  }

  // Fleet
  .fleet {
    padding-top: 30px;
    padding-bottom: 60px;

    .h2 {
      margin-bottom: 30px;
    }

    .h2-sub {
      margin-bottom: 15px;
      font-size: 24px;
    }

    .mb-sm-4 {
      margin-bottom: 30px !important;
    }

    .sub-title-offset {
      margin-bottom: 50px;
    }
  }

  // About Us
  .image-desc {
    padding-bottom: 10px;

    .h2 {
      margin-bottom: 30px;
    }
  }

  .certificate {
    padding-bottom: 60px;

    .h2-sub {
      font-size: 24px;
    }
  }

  .certificate-card {
    &__list {
      padding-right: 20px;
      padding-left: 20px;
      grid-template-columns: 1fr;
      justify-items: center;
    }

    &__item {
      padding-right: 60px;
      padding-left: 60px;
      max-width: 100%;
      height: 250px;
    }
  }

  // Services
  .services {
    padding-top: 30px;
    padding-bottom: 60px;

    .h2 {
      margin-bottom: 30px;
    }
  }

  .grid-page {
    grid-row-gap: 40px;

    &__image {
      margin-bottom: 20px;
    }
  }

  // Jumpseat
  .jumpseat {
    padding-top: 30px;

    .h2 {
      margin-bottom: 30px;
    }
  }

  .schedule {
    .h2-sub {
      margin-bottom: 20px;
      font-size: 24px;
    }

    .btn {
      margin-bottom: 25px !important;
    }
  }

  .schedule-table {
    margin-bottom: 20px;

    .h3 {
      font-size: 18px;
    }
  }

  .svg-map {
    padding-bottom: 40px;
  }

  // Executive Fleet
  .executive-fleet {
    .h2 {
      margin-bottom: 30px;
    }
  }

  .features-list {
    &__list {
      li {
        width: 100px;
      }
    }
  }

  .accordion {
    &__body {
      padding-top: 15px;
      padding-bottom: 30px;
    }

    &__button {
      padding: 15px;
      font-size: 18px;
    }

    &__title {
      font-size: 14px;
    }

    .flex-sm-wrap {
      flex-wrap: wrap;
    }
  }

  .single-video {
    padding-right: 15px;
    padding-left: 15px;
  }

  .grid-images {
    padding-right: 15px;
    padding-left: 15px;

    &__list-img {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // Cargo Fleet
  .cargo-fleet {
    .h2 {
      margin-bottom: 30px;
    }

    .h2-sub {
      margin-bottom: 15px;
    }
  }

  .metro-3 {
    &__sub-title {
      font-size: 19px;
    }

    &__sub-title.desc {
      margin-bottom: 30px;
    }

    .mb-mob-2 {
      margin-bottom: 30px;
    }

    &__row.row {
      margin-bottom: 30px;
    }
  }

  // Contacts
  .contacts .h2 {
    margin-bottom: 30px;
  }

  .con-info {
    .h3 {
      font-size: 18px;
    }

    &__item {
      .d-block {
        font-size: 17px;
      }
    }

  }

  .small-form {
    &__contacts {
      .textarea {
        max-height: 100%;
      }
    }
  }

  // Employees
  .employees {
    .h2 {
      margin-bottom: 30px;
    }

    &__img-col {
      margin-bottom: 30px;
    }
  }

  //Giving back 
  .giving-back {
    .h2 {
      margin-bottom: 30px;
    }
  }

  .partners {
    .h3 {
      font-size: 14px;
    }

    .btn {
      font-size: 14px;
    }

    ul {
      flex-direction: column;
      row-gap: 60px;
    }
  }

  // Careers
  .careers {
    .h2-sub {
      margin-bottom: 10px;
      font-size: 24px;
    }

    .h3 {
      margin-bottom: 30px;
    }

    .h4 {
      font-size: 14px;
    }

    &__btn {
      max-width: 130px;
    }


    .grid-page {
      &__image {
        margin-bottom: 20px;
      }

      grid-row-gap: 30px;
    }
  }


  // Request a Quote
  .request-quote {
    .h2 {
      margin-bottom: 30px;
    }
  }

  .quote-form {
    .desc {
      font-size: 14px;
    }

    .form-check-inline {
      margin-right: 10px;
    }

    &__wrap {
      margin-bottom: 10px;
    }

    &__wrap_area {
      margin-bottom: 30px;
    }

    input {
      font-size: 14px;
    }
  }


  // Blog
  .blog {
    .h2 {
      margin-bottom: 30px;
    }

    .blog-grid {
      margin-bottom: 40px;
    }
  }
}