@import "fonts";
@import "vars";

html {
  box-sizing: border-box;
}

html,
body {
  font-size: 20px;
  background-color: $custom-white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: $text-font sans-serif;
}

ul:not(.rich-container) {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section-offset {
  padding-top: 80px;
  padding-bottom: 50px;
}

.pt-5-c {
  padding-top: 50px;
}

.pb-12 {
  padding-bottom: 120px;
}

.sub-title-offset {
  margin-bottom: 70px;
}

.h1,
.h2,
.h3,
.h4 {
  font-family: $title-font, Arial;
  font-weight: 600;
  line-height: 1.3em;
  color: $title;
}

.h1 {
  font-size: 56px;
}

.h2 {
  font-size: 48px;
}

.h2-sub {
  margin-bottom: 30px;
  font-size: 36px;
  color: $title;
}

.h3 {
  font-weight: 400;
  font-size: 21px;
  text-transform: uppercase;
}

.rich-container,
.desc {
  font-weight: 400;
  font-size: 20px;
  font-family: $text-font;
  line-height: 1.4em;
  color: $desc;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $title-font, Arial;
    font-weight: 600;
    line-height: 1.3em;
    color: $title;
  }

  h3 {
    font-size: 21px;
  }

  a {
    color: $red;
    transition: .2s ease;

    &:hover {
      color: $hover;
    }
  }

  ul li {
    list-style: disc;
  }

  ol,
  ul {
    margin-bottom: 0;
    padding-left: 1rem;
  }

  li+br {
    display: none;
  }

  img {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: $img-b-radius;
    overflow: hidden;
  }
}

.btn {
  padding: 10px 30px;

  font-weight: 600;
  font-family: $text-font, Arial;
  font-size: 24px;
  line-height: 1.5em;
  color: $white;
  text-transform: uppercase;
  border-radius: 10px;
}

.btn-light {
  background-color: transparent;
  border: 1px solid $white;
}

.btn-light:hover {
  background-color: $hover;
  border-color: $hover;
  color: $white;
}

.btn.btn-light:active {
  background-color: $red;
  border-color: $red;
  color: $white;
}

.btn-danger {
  font-weight: 500;
  background-color: $red;
}

.btn-danger:hover {
  background-color: $hover;
  border-color: $hover;
}

.form-floating label {
  color: $placeholder;
}

textarea {
  resize: none;
}

.logo {
  max-width: 165px;
  max-height: 66px;
}

.split-section {
  .rich-container {
    max-width: 550px;
  }
}

.video-hero {
  margin-bottom: 80px;
}

.carbon-sections section:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

// Burger
.burger {
  display: none;
}

.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


.animated-icon span {
  background: $title;
}

.animated-icon span:nth-child(1) {
  top: 0px;
}

.animated-icon span:nth-child(2) {
  top: 10px;
}

.animated-icon span:nth-child(3) {
  top: 20px;
}

.animated-icon.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon.open span:nth-child(2) {
  opacity: 0;
}

.animated-icon.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


// Header
.header {
  padding: 17px 0;
  align-items: center;
  background-color: $custom-white;
  position: relative;
  z-index: 100;

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

  &__container {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn_mob {
    display: none;
  }

  .btn {
    padding: 5px 10px;
    font-size: 16px;
  }
}

.header__sticky {
  padding: 10px 0;
  height: auto;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav {
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    gap: 40px;

    list-style-type: none;

    li {
      font-size: 16px;
      color: $title;
      text-transform: uppercase;
      cursor: pointer;
      transition: color .2s ease-in-out;
    }

    li:hover {
      color: $hover;
    }

    li:active {
      color: $red;
    }

    a {
      padding: 0.5em 0;
      display: inline-block;
    }

    .sub-menu {
      visibility: hidden;
      opacity: 0;
      transition: .3s ease;
      position: absolute;
      padding: 0.2rem 0;
      background-color: #fff;
      border-radius: 10px;

      a {
        padding: 0.2rem 0.8rem;
      }

      &:hover {
        visibility: visible;
        opacity: 1;
      }
    }

    a:hover+.sub-menu {
      visibility: visible;
      opacity: 1;
    }
  }
}


.hero {

  position: relative;
  min-height: 100vh;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

  &__h1 {
    margin-bottom: 40px;
    color: $white;
  }

  &__container {
    height: 100vh;
    position: relative;
    z-index: 3;

    .row div {
      z-index: 2;
    }
  }

  &__video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 1;
  }
}

.main-blog {
  &__sub-title {
    font-size: 24px;
    font-weight: 300;
    text-transform: capitalize;
  }

}

.carbon-button.reduce-offset {
  margin-top: -80px;
}

// Components
.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;

  &__img {
    padding-top: 50%;
    position: relative;
    border-radius: $img-b-radius;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      position: absolute;
      inset: 0;
      object-fit: cover;
    }
  }

}

.card {
  background-color: transparent;
  border: none;

  &__img {
    margin-bottom: 40px;
    padding-top: 60%;
    position: relative;
    border-radius: $img-b-radius;
    overflow: hidden;
  }

  &__img img {
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
  }

  &__img_bt {
    margin-bottom: 15px;
  }

  &__img_art {
    margin-bottom: 50px;
  }

  &__sub {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  &__btn {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
  }

  &__desc {
    margin-bottom: 20px;
  }

  .desc:last-child {
    margin-bottom: 0;
  }

  &__desc_auth {
    font-size: 18px;
    color: $placeholder;
  }

  &__desc_auth-article {
    margin-bottom: 50px;
  }
}

.blog-article {
  .h2 {
    margin-bottom: 20px;
  }
}

.article {
  max-width: 800px;
}

.blog {
  .h2 {
    margin-bottom: 70px;
  }

  .blog-grid {
    margin-bottom: 70px;
  }
}

.main-experience {

  &__desc {
    max-width: 800px;
    font-size: 24px;
    text-align: center;
  }

}

.media-flex {
  &__img-wrap {
    padding-top: 45%;
    position: relative;
  }

  &__img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: $img-b-radius;
    object-fit: cover;
    object-position: center;
  }

  &__img_bottom {
    object-position: bottom;
  }

  &__text {
    max-width: 380px;
  }

  .row .desc:last-child {
    margin-bottom: 0;
  }

  &__btn-bot {
    margin-top: 70px;
  }
}

.main-talk {

  &__desc {
    max-width: 800px;
    font-size: 24px;
    text-align: center;
  }

  &__img {
    width: 100%;
    border-radius: $img-b-radius;
    overflow: hidden;
  }
}

// About Us
.image-desc {
  padding-top: 50px;

  .h2 {
    margin-bottom: 70px;
  }

  &__content {
    max-width: 550px;
  }

  .desc:last-child {
    margin-bottom: 0;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: $img-b-radius;
    overflow: hidden;
  }
}

.certificate-card {
  &__list {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(5, 1fr);
  }

  &__item {
    padding: 30px;
    max-height: 250px;
    background: $white;
    border-radius: $img-b-radius;
  }

  &__title {
    height: 20%;
    font-weight: 400;
    font-size: 16px;
    color: $title;
  }

  &__img-wrap {
    padding-bottom: 20px;
    height: 80%;
  }
}

// Services
.services {
  padding-top: 50px;

  .h2 {
    margin-bottom: 70px;
  }
}

.grid-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 80px;
  grid-row-gap: 70px;

  .desc {
    margin-bottom: 0;
  }

  &__image {
    margin-bottom: 40px;
    padding-top: 57%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      inset: 0;
      object-fit: cover;
      border-radius: $img-b-radius;
    }
  }
}

// Inner section
.inner-section {
  .sub-title-offset {
    margin-bottom: 40px;
  }

  .schedule-table {
    margin-bottom: 30px;
  }

  .carbon-button {
    margin-bottom: 30px;
  }

  .carbon-features-list {
    margin-bottom: 30px;
  }

  .carbon-image {
    margin-bottom: 60px;
  }

  .carbon-images {
    margin-bottom: 30px;
  }

  .carbon-logos {
    margin-bottom: 30px;
  }

  .carbon-partners {
    margin-bottom: 30px;
  }

  .carbon-text {
    margin-bottom: 30px;
  }

  .single-video {
    margin-bottom: 30px;
  }

  div:last-child {
    margin-bottom: 0;
  }
}

// Jumpseat
.jumpseat {
  .h2 {
    margin-bottom: 70px;
  }
}

.schedule {
  .h2-sub {
    margin-bottom: 40px;
  }

  .desc:first-child {
    margin-bottom: 5px;
  }

  &__jets {
    color: $red;
  }
}

.schedule-table {
  margin-bottom: 15px;
  max-width: 500px;

  td,
  th {
    padding-bottom: 15px;
    background-color: transparent;
  }

  th {
    color: $title;
    vertical-align: text-top;
  }

  tr {
    border-color: $placeholder;
  }

  tr:last-child td {
    border-bottom: none;
  }
}

// Fleet
.fleet {
  .h2 {
    margin-bottom: 70px;
  }
}

// Executive-fleet
.executive-fleet {
  .h2 {
    margin-bottom: 70px;
  }
}

.features-list {
  &__list {
    gap: 80px;
    flex-wrap: wrap;

    li {
      width: 150px;
      height: auto;
      text-align: center;

      img {
        margin-bottom: 26px;
        max-width: 40px;
        max-height: 40px;
      }
    }
  }
}

.accordion-button:focus {
  box-shadow: none;
}

// Accordion
.accordion {
  &__item {
    border-radius: 15px;
    border-radius: 15px !important;
    overflow: hidden;
  }

  &__item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__title {
    font-size: 16px;
    color: $title;
    font-family: 'NunitoSans', Arial;
    line-height: 1.3em;
  }

  &__button {
    margin-bottom: 0;
    padding: 28px 30px;
    border-radius: 0 !important;
  }

  &__button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
  }

  &__body {
    padding-top: 25px;
    padding-bottom: 70px;
  }

  &__big-img {
    margin-bottom: 70px;
  }
}

.single-video {
  padding-right: 80px;
  padding-left: 80px;

  &__video-wrap {
    video {
      max-height: 1140px;
      border-radius: $img-b-radius;
      max-width: 100%;
    }
  }
}

.grid-images {
  padding-right: 80px;
  padding-left: 80px;

  &__list-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 21px;
    flex-wrap: wrap;
  }

  &__img-wrap {
    padding-top: 70%;
    position: relative;
    border-radius: $img-b-radius;
    overflow: hidden;
    cursor: pointer;

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.accordion-button::after {
  width: 14px;
  height: 14px;
  background-image: url('../img/accordion-arrow.svg');
  background-size: 14px 14px;
}

.accordion-button:not(.collapsed)::after {
  background-image: url('../img/accordion-arrow.svg');
}

.accordion-button:not(.collapsed) {
  color: $title;
}

.pop-img {
  padding: 15px;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  transition: visibility .3s ease-in-out;
  visibility: hidden;

  &__close {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 40px;
    height: 40px;
    z-index: 10;
    cursor: pointer;
  }

  &__wrap {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1000px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.pop-img_active {
  visibility: visible;
}

// Cargo Fleet
.cargo-fleet {
  .h2 {
    margin-bottom: 50px;
  }
}

.metro-3 {
  .desc:last-child {
    margin-bottom: 0;
  }

  &__sub-title {
    margin-bottom: 70px;
    font-size: 24px;
  }

  &__in-sub {
    display: block;
  }
}

.block-img {
  &__img-wrap {
    border-radius: $img-b-radius;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      ;
    }
  }
}

// Con info
.contacts {
  .h2 {
    margin-bottom: 70px;
  }
}

.con-info {
  max-width: 550px;

  .h3 {
    margin-bottom: 20px;
  }

  &__item {
    margin-bottom: 20px;

    h4 {
      font-weight: 600;
      font-size: 20px;
    }
  }

  &__bottom {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }

  &__wrap_top {
    margin-bottom: 50px;
  }
}

.small-form {
  &__contacts {
    .textarea {
      height: 180px;
    }
  }

  .textarea {
    height: 100px;
    max-height: 100% !important;
  }
}

// Employees
.employees {
  .h2 {
    margin-bottom: 70px;
  }

  .btn {
    max-width: 256px;
  }

  &__img {
    position: relative;
    padding-top: 68%;
    border-radius: $img-b-radius;
    overflow: hidden;

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__desc {
    margin-bottom: 30px;
  }
}

// Giving back
.giving-back {
  .schedule-table {
    margin-bottom: 0;
  }

  .h2 {
    margin-bottom: 70px;
  }
}

.giv-back-top {
  &__text {
    .desc:last-child {
      margin-bottom: 0;
    }
  }
}

.partners {
  .h3 {
    font-size: 16px;
  }

  &__icons,
  &__list {
    height: 100%;
  }

  .h3 {
    margin-bottom: 20px;
  }

  &__icon {
    margin-bottom: 30px;

    img {
      height: 130px;
      object-fit: contain;
    }
  }

  .btn {
    padding: 5px 10px;
    font-size: 16px;
  }
}

// Careers
.careers {
  .h2 {
    margin-bottom: 30px;
  }

  .h2-sub {
    margin-bottom: 15px;
  }

  &__bot-title {
    margin-bottom: 70px;
    font-size: 24px;
    font-family: $text-font;
  }

  .h4 {
    font-size: 16px;
  }

  .grid-page__image {
    margin-bottom: 30px;
  }

  .grid-page {
    margin-bottom: 50px;

    &__content {
      .h3 {
        margin-bottom: 0;
      }
    }
  }

  &__btn {
    max-width: 195px;
  }
}


// Request quote
.request-quote {
  .h2 {
    margin-bottom: 70px;
  }
}

.quote-form {
  max-width: 650px;

  .desc {
    margin-bottom: 5px;
    font-size: 18px;
    color: $title;
  }

  input {
    border-radius: 5px;
    border: 1px solid $input-border;
  }

  &__wrap {
    margin-top: 0;
    margin-bottom: 15px;
  }

  &__wrap_area {
    margin-bottom: 30px;

    textarea {
      max-height: 140px;
    }
  }

  .form-check-label {
    display: inline;
  }
}

.form-check-inline {
  margin-right: 30px;
}

.form-check .form-check-input {
  float: none;
}

.form-check-input {
  margin-top: 0;
  vertical-align: middle;
}

.custom-radio {
  font-size: 16px;
}

input[type='radio'] {
  accent-color: #232323;
}

.wpcf7-not-valid-tip {
  font-size: 16px;
}

.wpcf7-spinner {
  position: absolute;
}

// Footer
.footer {
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: $desc;
  color: $disabled-bg;
  font-size: 18px;

  &__container {
    margin-bottom: 80px;
  }
}

.address {
  margin-bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);

  gap: 100px;

  &__item:first-child {
    margin-bottom: 15px;
  }
}

.all-rights {
  padding: 0 20px;
  color: $placeholder;
}

@import 'media';