@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans_10pt-Medium.ttf');
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src:
    url('../fonts/NunitoSans_10pt-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'NunitoSans';
  src:
    url('../fonts/NunitoSans_10pt-SemiBold.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSans3';
  src:
    url('../fonts/SourceSans3-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSans3-bold';
  src:
    url('../fonts/SourceSans3-SemiBold.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}