// Colors
$white: #fff;
$custom-white: #f5f5f5;
$black: #000;
$title: #3f3f3f;
$sub-title: #3f3f3f;
$img-b-radius: 10px;
$desc: #0a0a0a;
$red: #ce2026;
$hover: #fc4046;
$disabled-bg: #eee;
$disabled-text: #a5a5a5;
$placeholder: #a5a5a5;


// Fonts
$text-font: "SourceSans3", sans-serif;
$title-font: "NunitoSans", sans-serif;