// Colors
$white: #fff;
$black: #000;
$title: #3f3f3f;
$sub-title: #3f3f3f;
$img-b-radius: 10px;
$desc: #0a0a0a;
$red: #ce2026;
$placeholder: #a5a5a5;

// Fonts
$text-font: "SourceSans3", sans-serif;
$title-font: "NunitoSans", sans-serif;